<div>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2 class="title">Create Post</h2><hr>
    <form class = "create-post">
        <div class="form-group">
            <label for="create-post-title"><strong>Title:</strong></label>
            <input class="form-control" type="text" id="create-post-title" name="create-post-title" placeholder="Blog title here"/>
        </div>
        <div class="form-group">
            <label for="create-post-content"><strong>Content:</strong></label>
            <textarea class="form-control" id="create-post-content" name="create-post-content" placeholder="Blog content here" rows="15"></textarea>
        </div>
        <button type="submit" class="button btn-primary">Create Post</button>
    </form>
</div>

<script src="/js/createPost.js"></script>


