<div>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="title">Create Post</h2><hr>
    <form class="create-post">
        <div>
            <label for="create-post-title">Title:</label>
            <input class="input" type="text" id="create-post-title" name="create-post-title" placeholder="Blog title here"/>
        </div>
        <div>
            <label for="create-post-content">Content:</label>
            <input class="textarea is-large" id="create-post-content" name="create-post-content" placeholder="Blog content here"/>
        </div>
        <button type="submit" class="button is-primary is-pulled-right">Create Post</button>
    </form>
</div>

<script src="/js/createPost.js"></script>

