header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.navigation{
  color: black;
  font-weight: bold !important; 
  font-size: 1.1rem; 
  margin-left:10px;
  margin-right:10px;
  padding-top: 5px ;
}

text-bold {
  font-weight: bolder;
}

.extra-margin{
  margin : 7px !important;
  padding-top: 4px;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  background-color: #debe9e
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}